@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Playwrite+IN:wght@100..400&display=swap');
* {
    box-sizing: border-box;
    font-family:"Playwrite IN", Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body {
    background-color: rgb(47, 155, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 107vh;
    zoom: 0.80;
}
#H1 {
    /* font-family: "Lora"; */
    margin-bottom: 22px;
}
.container {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 70vw;
    width: 550px;
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
}
.concentration-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(116, 170, 210);
    border-radius: 5px;
    padding: 10px;
    gap: 25px ;
    width: 100%;
}
#H1, #H2 {
    text-align: center;
    color: white;
}
#end-game-message {
    color: rgb(1, 160, 14);
    font-size: 40px;
    margin-top: 20px;
}
.cards {
    background-color: rgb(91, 200, 208);
    font-size: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: transform 0.2s;
}
.hidden {
    font-size: 0;
}
#start-btn {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}
#timer, #score-board {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#timer {
    background-color: red;
}
#start-game-window, #end-game-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:blueviolet;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 80%;
    max-width: 400px;
    ;
}
#start-game-window h2, #end-game-window h2 {
    margin-bottom: 20px;
    font-weight: bolder;
}
#end-game-window p {
    font-size: 30px;
    font-weight: bold;
}
#start-game-window button, #end-game-window button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
#start-game-window button:hover, #end-game-window button:hover {
    background-color: #3a793d;
}
label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
#status-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 60px;
    padding: 15px;
}







