* {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 10px;
    background-color: rgb(47, 155, 179);
}
body {
    background-color: rgb(47, 155, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 65vw !important;
    border-radius: 15px;
    padding: 20px;
}
.concentration-box {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(116, 170, 210);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
}
#H1, #H2 {
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}
#H2 {
    color: rgb(55, 255, 0);
}
.cards {
    background-color: rgb(91, 200, 208);
    font-size: 28px;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 5px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: transform 0.2s;
}
.cards:hover {
    transform: scale(1.05);
}
.hidden {
    font-size: 0%;
}
#start-btn {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
}
#timer {
    background-color: red;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
#score-board {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
}







